.footer-nav {
  background-color: var(--color-gallery);
  padding-top: 63px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 68px 32px;
    background-color: var(--color-shaft);
  }
}
