.hero {
  background-color: var(--color-black);
  &__container {
    position: relative;

    @include small-tablet {
      display: flex;
      flex-direction: column;
    }
  }
  &__content {
    font-size: 0;

    @include small-tablet {
      order: 1;
    }
  }
  &__img {
    @include tablet {
      height: 600px;
    }
    @include small-tablet {
      height: 300px;
    }
    @include mobile {
      height: 250px;
    }
    @include mini-mobile {
      height: 200px;
    }
  }
  &__window {
    position: absolute;
    right: calc(68px + var(--container-offset));
    bottom: 135px;
    z-index: 11;
    max-width: 584px;
    background-color: var(--color-light);
    padding: 61px 68px 68px;

    @include desktop {
      right: 15%;
      bottom: 14%;
    }
    @include tablet {
      max-width: 450px;
      padding: 20px;
      right: 20%;
      bottom: 26%;
    }
    @include small-tablet {
      max-width: none;
      position: static;
      text-align: center;
      padding: 60px 25px 35px;
    }
    @include mini-mobile {
      padding: 50px 5px 20px;
    }
  }
  &__heading {
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: var(--color-accent);
  }
  &__title {
    font-family: "Teko", sans-serif;
    font-size: 67px;
    line-height: 67px;
    text-transform: capitalize;
    color: var(--color-cod);
    margin-bottom: 39px;

    @include tablet {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 20px;
    }
  }
  &__descr {
    margin-bottom: 15px;
  }
  &__btns {
    display: flex;
    justify-content: space-between;

    @include small-tablet {
      justify-content: center;
    }
    @include mini-mobile {
      flex-direction: column;
      align-items: center;
    }
  }
  &__btn {
    display: inline-block;
    width: 216px;
    &:not(:last-child) {
      @include small-tablet {
        margin-right: 15px;
      }
      @include mini-mobile {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    @include tablet {
      width: 190px;
    }
    @include mini-mobile {
      width: 100%;
      padding: 20px;
    }
  }
  &__accent-block {
    position: absolute;
    right: var(--container-offset);
    bottom: 0;
    z-index: 10;
    width: 489px;
    height: 329px;
    background-color: var(--color-accent);

    @include desktop {
      width: 350px;
      height: 230px;
    }
    @include tablet {
      width: 250px;
      height: 170px;
      bottom: 15%;
      right: 10%;
    }
    @include small-tablet {
      display: none;
    }
  }
}
