.nav {
  &__list {
    @include flex-v-center;
  }
  &__item {
    margin-right: 41px;
    &:last-child {
      margin-right: 6px;

      @include desktop {
        margin-right: 0;
      }
    }

    @include desktop {
      margin-right: 15px;
    }
  }
  &__link {
    transition: color 0.2s;
    &:hover {
      color: var(--color-accent);
    }
  }
}
