.partners {
  background-color: var(--color-gallery);
  padding: 68px 0;
  &__list {
    display: flex;
    padding: 0 67px;

    @include big-desktop {
      padding: 0;
      justify-content: center;
    }
    @include tablet {
      flex-wrap: wrap;
    }
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    position: relative;
    height: 100%;
    &:not(:last-child) {
      margin-right: 100px;

      @include big-desktop {
        margin-right: 50px;
      }
      @include tablet {
        margin-bottom: 25px;
      }
      @include mobile {
        margin-right: 0;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -62px;
        transform: translateY(-50%);
        width: 9px;
        height: 9px;
        background-color: var(--color-accent);

        @include big-desktop {
          right: -25px;
        }
        @include small-tablet {
          display: none;
        }
      }
    }
    &:last-child {
      margin-bottom: 25px;
    }
  }
  &__link {
    svg {
      width: 154px;
      height: 38px;
      fill: var(--color-black);
      transition: fill 0.2s;

      @include small-tablet {
        width: 140px;
        height: 30px;
      }
      @include mobile {
        width: 150px;
        height: 40px;
      }
    }
    &:hover {
      svg {
        fill: var(--color-accent);
      }
    }
  }

  @include desktop {
    padding: 50px 0 0;
  }
  @include tablet {
    padding: 40px 0 0;
  }
  @include mobile {
    padding: 25px 0 0;
  }
}
