.services {
  background-color: var(--color-light);
  padding-bottom: 107px;
  &__container {
    text-align: center;

    @include mobile {
      text-align: left;
    }
  }
  &__inscription {
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: var(--color-accent);
  }
  &__title {
    max-width: 800px;
    margin: 0 auto 81px;

    @include small-tablet {
      max-width: none;
      margin: 0 auto 60px;
    }
    @include mobile {
      margin: 0 auto 35px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding: 0 65px;
    margin-bottom: 123px;

    @include desktop {
      padding: 0;
      margin-bottom: 100px;
    }
    @include small-tablet {
      margin-bottom: 75px;
    }
    @include mobile {
      margin-bottom: 50px;
    }
  }
  &__item {
    grid-column: 2 span;

    @include desktop {
      grid-column: 3 span;
    }
    @include mobile {
      grid-column: 6 span;
    }
  }
  &__btn-wrapper {
    text-align: center;
  }
  &__btn {
    display: inline-block;
    min-width: 392px;

    @include mobile {
      min-width: 100%;
    }
  }

  @include tablet {
    padding-bottom: 75px;
  }
  @include small-tablet {
    padding-bottom: 50px;
  }
  @include mobile {
    padding-bottom: 35px;
  }
}
.service {
  padding: 34px 33px 0;
  text-align: left;
  &__top {
    display: flex;
    margin-bottom: 21px;

    @include mobile {
      margin-bottom: 15px;
    }
  }
  &__img {
    height: 68px;
    object-fit: initial;
    margin-right: 17px;
  }
  &__date {
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: var(--color-accent);
    margin-bottom: 18px;
  }
  &__title {
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;
    color: var(--color-cod);
  }

  @include small-tablet {
    padding: 10px 15px 10px 0;
  }
}
