.social {
  @include flex-v-center;
  background-color: var(--color-gallery);
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
      margin-left: 3px;

      @include small-tablet {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 15px;
      }
      @include mobile {
        margin-bottom: 10px;
      }
    }
  }
  &__link {
    font-size: 12px;
    line-height: 68px;
    letter-spacing: 2.975px;
    text-transform: uppercase;
    color: var(--color-black);
    transition: color 0.2s;
    &:hover {
      color: var(--color-accent);
    }

    @include small-tablet {
      line-height: 16px;
    }
    @include mobile {
      line-height: 14px;
    }
  }

  @include tablet {
    justify-content: center;
  }
  @include small-tablet {
    flex-direction: column;
    padding: 15px 0;
  }
}
