<section class="about">
  <div class="container about__container">
    <div class="about__info">
      <div class="about__content">
        <span class="about__inscription">about us</span>
        <h2 class="section-title about__title">
          It's our job to make your home feel like it belongs to you
        </h2>
        <p class="descr about__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          vehicula, libero vel egestas fringilla, purus sit amet ante vel odio
          condimentum tortor.
        </p>
        <p class="descr about__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a
          risus ac mauris cursus tempor at sit amet orci. Suspendisse vel
          laoreet mauris. Donec sit amet ante vel odio condimentum lobortis in
          nec ex. Curabitur varius iaculis vehicula. Vestibulum quis venenatis
          lorem at, suscipit vel mauris purus.
        </p>
      </div>
      <div class="about__news">
        <article
          class="about__article"
          data-aos="fade-left"
          data-aos-delay="300"
        >
          <div class="about__article-inscription">
            <span class="about__article-name">news</span>
            <span class="about__article-date">Mar 1, 2022</span>
          </div>
          <a class="about__article-title" href="#"
            ><h3 class="section-subtitle">
              Incidunt eveniet lorem adipisci quod est quaerat
            </h3>
          </a>
        </article>
        <article
          class="about__article"
          data-aos="fade-left"
          data-aos-delay="400"
        >
          <div class="about__article-inscription">
            <span class="about__article-name">news</span>
            <span class="about__article-date">Mar 1, 2022</span>
          </div>
          <a class="about__article-title" href="#"
            ><h3 class="section-subtitle">
              Excepturi nulla lorem quam velit error qui dolor
            </h3>
          </a>
        </article>
      </div>
    </div>
    <ul class="list-reset about__figures">
      <li class="about__figure" data-aos="fade-up" data-aos-delay="500">
        <div class="about__number">500K</div>
        <span class="about__value">projects</span>
      </li>
      <li class="about__figure" data-aos="fade-up" data-aos-delay="600">
        <div class="about__number">575K</div>
        <span class="about__value">sketches</span>
      </li>
      <li class="about__figure" data-aos="fade-up" data-aos-delay="700">
        <div class="about__number">250K</div>
        <span class="about__value">clients</span>
      </li>
      <li class="about__figure" data-aos="fade-up" data-aos-delay="800">
        <div class="about__number">365K</div>
        <span class="about__value">likes</span>
      </li>
      <li class="about__figure" data-aos="fade-up" data-aos-delay="900">
        <div class="about__number">500K</div>
        <span class="about__value">awards</span>
      </li>
    </ul>
  </div>
</section>
