<section class="footer-nav">
  <div class="container">
    <div class="footer-nav__wrapper">
      <a class="logo footer-nav__logo" href="#">
        <img
          class="logo__img"
          src="img/logo.svg"
          alt="Vintage Logo"
          width="131"
          height="34"
        />
      </a>
      <nav class="nav" title="Footer Navigation">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a class="nav__link text" href="#">home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link text" href="#">about</a>
          </li>
          <li class="nav__item">
            <a class="nav__link text" href="#">services</a>
          </li>
          <li class="nav__item">
            <a class="nav__link text" href="#">projects</a>
          </li>
          <li class="nav__item">
            <a class="nav__link text" href="#">news</a>
          </li>
          <li class="nav__item">
            <a class="nav__link text" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
