<footer class="footer">
  <div class="container">
    <div class="footer__newsletter">
      <form class="footer__form" action="#">
        <input
          class="footer__input"
          type="email"
          placeholder="Newsletter (Emter Email)"
          required
        />
        <button class="btn-reset btn btn--secondary footer__btn" type="submit">
          Subscribe
        </button>
      </form>
    </div>
    <div class="footer__bottom">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="text footer__link" href="#">licensing</a>
        </li>
        <li class="footer__item">
          <a class="text footer__link" href="#">styles</a>
        </li>
        <li class="footer__item">
          <a class="text footer__link" href="#">changelog</a>
        </li>
      </ul>
      <span class="text footer__copy"
        >powerd by
        <span>webflow.com</span>
      </span>
    </div>
  </div>
</footer>
