<header class="header">
  <div class="container header__container">
    <a class="logo header__logo" href="#">
      <img
        class="logo__img"
        src="img/logo.svg"
        alt="Vintage Logo"
        width="190"
        height="49"
      />
    </a>
    <div class="header__info">
      <span class="header__descr">Architecture</span>
      <span class="header__text" data-aos="fade-down" data-aos-delay="900"
        >Made With</span
      >
    </div>
    <nav class="nav header__nav" title="Navigation" data-menu>
      <ul class="list-reset nav__list header__nav-list">
        <li class="nav__item header__nav-item">
          <a class="nav__link text header__nav-link" href="#" data-menu-item
            >home</a
          >
        </li>
        <li class="nav__item header__nav-item">
          <a class="nav__link text header__nav-link" href="#" data-menu-item
            >about</a
          >
        </li>
        <li class="nav__item header__nav-item">
          <a class="nav__link text header__nav-link" href="#" data-menu-item
            >services</a
          >
        </li>
        <li class="nav__item header__nav-item">
          <a class="nav__link text header__nav-link" href="#" data-menu-item
            >projects</a
          >
        </li>
        <li class="nav__item header__nav-item">
          <a class="nav__link text header__nav-link" href="#" data-menu-item
            >news</a
          >
        </li>
        <li class="nav__item header__nav-item">
          <a class="nav__link text header__nav-link" href="#" data-menu-item
            >Contact</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
