<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <img
        class="hero__img"
        src="img/hero-img.jpg"
        alt=""
        width="978"
        height="590"
      />
      <ul class="list-reset social hero__social">
        <li class="social__item">
          <a class="social__link" href="#">facebook</a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">twitter</a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">instagram</a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">pinterest</a>
        </li>
      </ul>
    </div>
    <div class="hero__windows">
      <div class="hero__window">
        <span class="hero__heading">vantage studio</span>
        <h1 class="hero__title">Your vision, our expertise!</h1>
        <p class="descr hero__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          vehicula, libero vel egestas fringilla.
        </p>
        <div class="hero__btns">
          <a class="btn hero__btn" href="#">explore</a>
          <a class="btn btn--secondary hero__btn" href="#">let's chat</a>
        </div>
      </div>
      <div class="hero__accent-block"></div>
    </div>
  </div>
</section>
