<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <picture>
        <source srcset="img/hero-img.avif" type="image/avif" />
        <source srcset="img/hero-img.webp" type="image/webp" />
        <img
          class="hero__img"
          src="img/hero-img.jpg"
          width="978"
          height="590"
          alt=""
        />
      </picture>
      <ul class="list-reset social hero__social">
        <li class="social__item">
          <a
            class="social__link"
            href="#"
            data-aos="fade-left"
            data-aos-delay="500"
            >facebook</a
          >
        </li>
        <li class="social__item">
          <a
            class="social__link"
            href="#"
            data-aos="fade-left"
            data-aos-delay="600"
            >twitter</a
          >
        </li>
        <li class="social__item">
          <a
            class="social__link"
            href="#"
            data-aos="fade-left"
            data-aos-delay="700"
            >instagram</a
          >
        </li>
        <li class="social__item">
          <a
            class="social__link"
            href="#"
            data-aos="fade-left"
            data-aos-delay="800"
            >pinterest</a
          >
        </li>
      </ul>
    </div>
    <div class="hero__windows">
      <div class="hero__window" data-aos="fade-left" data-aos-delay="200">
        <span class="hero__heading">vantage studio</span>
        <h1 class="hero__title">Your vision, our expertise!</h1>
        <p class="descr hero__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          vehicula, libero vel egestas fringilla.
        </p>
        <div class="hero__btns">
          <a class="btn hero__btn" href="#">explore</a>
          <a class="btn btn--secondary hero__btn" href="#">let's chat</a>
        </div>
      </div>
      <div
        class="hero__accent-block"
        data-aos="fade-left"
        data-aos-delay="400"
      ></div>
    </div>
  </div>
</section>
