<section class="partners">
  <h2 class="visually-hidden">Our Partners</h2>
  <div class="container">
    <ul
      class="list-reset partners__list"
      data-aos="fade-left"
      data-aos-delay="300"
    >
      <li class="partners__item">
        <a class="partners__link" href="#" aria-label="Artzo Company Link">
          <svg>
            <use xlink:href="img/sprite.svg#partner-1"></use>
          </svg>
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#" aria-label="Antartica Company Link">
          <svg>
            <use xlink:href="img/sprite.svg#partner-2"></use>
          </svg>
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#" aria-label="Captain Company Link">
          <svg>
            <use xlink:href="img/sprite.svg#partner-3"></use>
          </svg>
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#" aria-label="Cupcakes Company Link">
          <svg>
            <use xlink:href="img/sprite.svg#partner-4"></use>
          </svg>
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#" aria-label="Choc Company Link">
          <svg>
            <use xlink:href="img/sprite.svg#partner-5"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
