<section class="projects">
  <h2 class="visually-hidden">Our Projects</h2>
  <div class="container">
    <div class="projects__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide project">
          <img
            class="project__img"
            src="img/project-1.jpg"
            alt="House Living Room"
            width="412"
            height="275"
          />
          <span class="project__label">new</span>
          <span class="text project__style">Interior Design</span>
          <a class="section-subtitle project__title" href="#"
            >House Living Room</a
          >
        </div>
        <div class="swiper-slide project">
          <img
            class="project__img"
            src="img/project-2.jpg"
            alt="House Living Room"
            width="412"
            height="275"
          />
          <span class="project__label">new</span>
          <span class="text project__style">Architecture</span>
          <a class="section-subtitle project__title" href="#"
            >Ocean View House</a
          >
        </div>
        <div class="swiper-slide project">
          <img
            class="project__img"
            src="img/project-3.jpg"
            alt="House Living Room"
            width="412"
            height="275"
          />
          <span class="project__label">new</span>
          <span class="text project__style">Interior Design</span>
          <a class="section-subtitle project__title" href="#"
            >House Dining Area</a
          >
        </div>
        <div class="swiper-slide project">
          <img
            class="project__img"
            src="img/project-1.jpg"
            alt="House Living Room"
            width="412"
            height="275"
          />
          <span class="project__label">new</span>
          <span class="text project__style">Interior Design</span>
          <a class="section-subtitle project__title" href="#"
            >House Living Room</a
          >
        </div>
      </div>
      <div class="projects__pagination"></div>
    </div>
  </div>
</section>
