<section class="projects">
  <h2 class="visually-hidden">Our Projects</h2>
  <div class="container">
    <div class="projects__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide project">
          <picture>
            <source srcset="img/project-1.avif" type="image/avif" />
            <source srcset="img/project-1.webp" type="image/webp" />
            <img
              class="project__img"
              loading="lazy"
              src="img/project-1.jpg"
              width="412"
              height="275"
              alt="House Living Room"
            />
          </picture>
          <span class="project__label">new</span>
          <span class="text project__style">Interior Design</span>
          <a class="section-subtitle project__title" href="#"
            >House Living Room</a
          >
        </div>
        <div class="swiper-slide project">
          <picture>
            <source srcset="img/project-2.avif" type="image/avif" />
            <source srcset="img/project-2.webp" type="image/webp" />
            <img
              class="project__img"
              loading="lazy"
              src="img/project-2.jpg"
              width="412"
              height="275"
              alt="Ocean View House"
            />
          </picture>
          <span class="project__label">new</span>
          <span class="text project__style">Architecture</span>
          <a class="section-subtitle project__title" href="#"
            >Ocean View House</a
          >
        </div>
        <div class="swiper-slide project">
          <picture>
            <source srcset="img/project-3.avif" type="image/avif" />
            <source srcset="img/project-3.webp" type="image/webp" />
            <img
              class="project__img"
              loading="lazy"
              src="img/project-3.jpg"
              width="412"
              height="275"
              alt="Interior Design"
            />
          </picture>
          <span class="project__label">new</span>
          <span class="text project__style">Interior Design</span>
          <a class="section-subtitle project__title" href="#"
            >House Dining Area</a
          >
        </div>
        <div class="swiper-slide project">
          <picture>
            <source srcset="img/project-1.avif" type="image/avif" />
            <source srcset="img/project-1.webp" type="image/webp" />
            <img
              class="project__img"
              loading="lazy"
              src="img/project-1.jpg"
              width="412"
              height="275"
              alt="Interior Design"
            />
          </picture>
          <span class="project__label">new</span>
          <span class="text project__style">Interior Design</span>
          <a class="section-subtitle project__title" href="#"
            >House Living Room</a
          >
        </div>
      </div>
      <div class="projects__pagination"></div>
    </div>
  </div>
</section>
