<section class="services">
  <div class="container services__container">
    <span class="services__inscription">services</span>
    <h2 class="section-title services__title">
      Architecture is not simply a service, it is also an inspiration
    </h2>
    <ul class="list-reset services__list">
      <li class="services__item service">
        <div class="service__top">
          <img
            class="service__img"
            src="img/service-1.svg"
            alt="Architecture"
            width="68"
            height="68"
          />
          <div class="service__info">
            <div class="service__date">01/06</div>
            <h3 class="section-subtitle service__title">Architecture</h3>
          </div>
        </div>
        <p class="descr service__descr">
          Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor
          enim voluptas.
        </p>
      </li>
      <li class="services__item service">
        <div class="service__top">
          <img
            class="service__img"
            src="img/service-2.svg"
            alt="Interior Design"
            width="68"
            height="68"
          />
          <div class="service__info">
            <div class="service__date">02/06</div>
            <h3 class="section-subtitle service__title">Interior Design</h3>
          </div>
        </div>
        <p class="descr service__descr">
          Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor
          enim voluptas.
        </p>
      </li>
      <li class="services__item service">
        <div class="service__top">
          <img
            class="service__img"
            src="img/service-3.svg"
            alt="Master Planing"
            width="68"
            height="68"
          />
          <div class="service__info">
            <div class="service__date">03/06</div>
            <h3 class="section-subtitle service__title">Master Planing</h3>
          </div>
        </div>
        <p class="descr service__descr">
          Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor
          enim voluptas.
        </p>
      </li>
      <li class="services__item service">
        <div class="service__top">
          <img
            class="service__img"
            src="img/service-4.svg"
            alt="Construction"
            width="68"
            height="68"
          />
          <div class="service__info">
            <div class="service__date">04/06</div>
            <h3 class="section-subtitle service__title">Construction</h3>
          </div>
        </div>
        <p class="descr service__descr">
          Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor
          enim voluptas.
        </p>
      </li>
      <li class="services__item service">
        <div class="service__top">
          <img
            class="service__img"
            src="img/service-5.svg"
            alt="Energy Audit"
            width="68"
            height="68"
          />
          <div class="service__info">
            <div class="service__date">05/06</div>
            <h3 class="section-subtitle service__title">Energy Audit</h3>
          </div>
        </div>
        <p class="descr service__descr">
          Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor
          enim voluptas.
        </p>
      </li>
      <li class="services__item service">
        <div class="service__top">
          <img
            class="service__img"
            src="img/service-6.svg"
            alt="Documentation"
            width="68"
            height="68"
          />
          <div class="service__info">
            <div class="service__date">06/06</div>
            <h3 class="section-subtitle service__title">Documentation</h3>
          </div>
        </div>
        <p class="descr service__descr">
          Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor
          enim voluptas.
        </p>
      </li>
    </ul>
    <div class="services__btn-wrapper">
      <a class="btn services__btn" href="#">see all services</a>
    </div>
  </div>
</section>
