// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "OpenSans", sans-serif;
  --content-width: 1304px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-light: #fff;
  --color-accent: #99823d;
  --color-black: #000;
  --color-cod: #141414;
  --color-shaft: #3d3d3d;
  --color-gallery: #ebebeb;
}
